/*

References:

- https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
- https://css-tricks.com/custom-scrollbars-in-webkit/

*/

/* Hide scrollbar for Chrome, Safari and Opera */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-h-0::-webkit-scrollbar {
  height: 0px;
}

.scrollbar-h::-webkit-scrollbar {
  height: 1.5px;
}

.scrollbar-h-2::-webkit-scrollbar {
  height: 2px;
}

.scrollbar-h-4::-webkit-scrollbar {
  height: 4px;
}

.scrollbar-h-8::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-w-0::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-w::-webkit-scrollbar {
  width: 1.5px;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-w-4::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-w-8::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thumb-black::-webkit-scrollbar-thumb {
  background: black;
}

.scrollbar-thumb-white::-webkit-scrollbar-thumb {
  background: white;
}

.scrollbar-thumb-stone-50::-webkit-scrollbar-thumb {
  background: #fafaf9;
}

.scrollbar-thumb-stone-100::-webkit-scrollbar-thumb {
  background: #f5f5f4;
}

.scrollbar-thumb-stone-200::-webkit-scrollbar-thumb {
  background: #e7e5e4;
}

.scrollbar-thumb-stone-300::-webkit-scrollbar-thumb {
  background: #d6d3d1;
}

.scrollbar-thumb-stone-400::-webkit-scrollbar-thumb {
  background: #a8a29e;
}

.scrollbar-thumb-stone-500::-webkit-scrollbar-thumb {
  background: #78716c;
}

.scrollbar-thumb-stone-600::-webkit-scrollbar-thumb {
  background: #57534e;
}

.scrollbar-thumb-stone-700::-webkit-scrollbar-thumb {
  background: #44403c;
}

.scrollbar-thumb-stone-800::-webkit-scrollbar-thumb {
  background: #292524;
}

.scrollbar-thumb-stone-900::-webkit-scrollbar-thumb {
  background: #1c1917;
}

.scrollbar-thumb-stone-950::-webkit-scrollbar-thumb {
  background: #0c0a09;
}
